body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #aaaaaa;
}

tbody tr:nth-child(odd) {
  background: #eeeeee;
}

tbody tr:hover {
  background: #cccccc;
}

div.outputTable {
  margin: 1rem;
}